

<div style="text-align:center">
    <img class="img-responsive" src="assets/Piezas/PeonBlanco.png">
    <h1>Jugador 1: {{jugador1.nombre}} </h1>
    <h1>Jugador2:  {{jugador2.nombre}} </h1>
    <table id="tabAje" width="50%"  style="margin: 0 auto;">
        <tr *ngFor="let fila of filas">
            <td *ngFor="let celda of fila" class={{celda.clase}} id={{celda.id}}></td>
        </tr>
    </table>
    <button (click)="inicializarTablero()">inicializar Tablero </button>

</div>
<div style="text-align:left">
    <h4> Ingresar jugada:  <input type="text" #tbJug id="EspJug" /></h4><br>
   <button (click)="RecibirJugada(tbJug.value)">Hacer movimiento </button>
   
</div>
    
    